.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    padding: 5px;
    width: 250px;
    position: fixed;
    top: 100;
    right: 0;
    height: 100vh;
    z-index: 999;
    background: #ffffff;
    color: rgb(33, 59, 202);
    transition: all 0.3s;
    
}