<div class="row" style="margin-bottom: 50px;">
    <div class="col">

    </div>
    <div class="col-6">
        <img src="assets/store.jpg" class="img-fluid">
    </div>
    <div class="col">

    </div>
</div>

<div class="row" style="margin-bottom: 50px;">
    <div class="col">

    </div>
    <div class="col-6">
        <p>Vujic Music Shop is a Serbian-based retailer of musical instruments, studio, lighting, and pro-audio
            equipment. VMS became widely known primarily due to its large online retail operation, VMS Cyberstore.
            According to a 2014 articles in the largest Balkan newspaper based in Belgrade, the CDC, VMS is the largest
            online retailer of its category of merchandise, worldwide. 
        </p>
        <br>
        <p>
            Filip Vujic Sr., founded the company sixty-six
            years ago (in 1954) as a family business in Belgrade — Serbia's capital city — where the Vujic Music Shop
            headquarters endures today (2020). And, as of 2020, the company is still family-owned.
        </p>
    </div>
    <div class="col">

    </div>
</div>

<div class="row" style="margin-bottom: 50px;">
    <div class="col">

    </div>
    <div class="col-6">
        <img src="assets/team.jpg" class="img-fluid">
    </div>
    <div class="col">

    </div>
</div>