<div class="col">
<div class="card" style="width: 18rem; margin-bottom: 20px">
    <img class="card-img-top" style="height: 120px;" src="{{product.imgLink}}" alt="Product image">
    <div class="card-body">
      <h5 class="card-title">{{product.title}}</h5>
      <p class="card-text">{{product.description}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Price: {{product.price | currency: 'EUR'}}</li>
      <li class="list-group-item">In-stock: {{product.in_stock}}</li>
    </ul>
    <div class="card-body">
      <button
      type="button"
      class="btn btn-primary"
      style="margin-right: 10px; width: 110px;"
      (click)="handleAddToCart()">
      Add to cart
      </button>
      <button
      type="button"
      class="btn btn-secondary"
      style="width: 110px;"
      >
      Buy now
      </button>
    </div>
  </div>
</div>