<div class="col">
<div class="card" style="width: 18rem; margin-bottom: 20px">
    <img class="card-img-top" src="{{product.img_link}}" alt="Product image">
    <div class="card-body">
      <h5 class="card-title">{{product.title}}</h5>
      <p class="card-text">{{product.description}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Price: {{product.price}}€</li>
      <li class="list-group-item">In-stock: {{product.in_stock}}</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Add to basket</a>
      <a href="#" class="card-link">Buy now</a>
    </div>
  </div>
</div>