.wrapper {
    display: flex;
    width: 100%;
    
}

#sidebar {
    border-radius: 10px;
    overflow-x:hidden;
    overflow-y:auto;
    margin-right: 7px;
    padding: 5px;
    width: 250px;
    position: fixed;
    top: 100;
    right: 0;
    height: 300px;
    z-index: 999;
    background: #ffffff;
    color: rgb(33, 59, 202);
    transition: all 0.3s;   
}

#fixed {

    position: fixed;
    top: 260px;
    right: 0;
    z-index: 999;
    margin-right: 7px;
}

#cartTitle {

    margin-top: 60px;
    position: fixed;
    top: 160px;
    right: 0;
    z-index: 999;
    margin-right: 140px;
}

#cartTotal {

    margin-top: 60px;
    width: 250px;
    position: fixed;
    top: 510px;
    right: 0;
    z-index: 999;
    margin-right: 7px;
}

#checkoutBtn {
    margin-top: 60px;
    width: 250px;
    position: fixed;
    top: 570px;
    right: 0;
    z-index: 999;
    margin-right: 7px;
}