/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');


body {
    padding-right: 260px;
    background-color: #adb5bd !important;
    
}

p {
    font-family: "Roboto", sans-serif;

    color: #670000;
  }

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;

    color: #00308a;
}