<app-user-cart></app-user-cart>
<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="guest-form-card card">

            <div class="card-header text-center">
                <h2>Checkout</h2>
            </div>

            <div class="card-body">
                <form #checkoutForm="ngForm" (ngSubmit)="checkout()">
                    <div class="form-group">
                        <label for="name">Full Name</label>
                        <input id="name" class="form-control" [ngClass]="{ 'is-invalid': name.touched && name.invalid }"
                            name="name" #name="ngModel" [(ngModel)]="model.name" required />
                        <span class="invalid-feedback">Full Name can't be blank.</span>
                    </div>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="password" class="form-control"
                            [ngClass]="{ 'is-invalid': email.touched && email.invalid }" #email="ngModel"
                            [(ngModel)]="model.email" required />
                        <span class="invalid-feedback">Email can't be blank.</span>
                    </div>

                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input id="phone" name="phone" class="form-control"
                            [ngClass]="{ 'is-invalid': phone.touched && phone.invalid }" #phone="ngModel"
                            [(ngModel)]="model.phone" required />
                        <span class="invalid-feedback">Phone can't be blank.</span>
                    </div>

                    <div class="form-group">
                        <label for="country">Country</label>
                        <input id="country" name="country" class="form-control"
                            [ngClass]="{ 'is-invalid': country.touched && country.invalid }" #country="ngModel"
                            [(ngModel)]="model.country" required />
                        <span class="invalid-feedback">Country can't be blank.</span>
                    </div>

                    <div class="form-group">
                        <label for="address">Address</label>
                        <input id="address" name="address" class="form-control"
                            [ngClass]="{ 'is-invalid': address.touched && address.invalid }" #address="ngModel"
                            [(ngModel)]="model.address" required />
                        <span class="invalid-feedback">Address can't be blank.</span>
                    </div>

                    <div class="form-group">
                        <label for="zipcode">Zip Code</label>
                        <input id="zipcode" name="zipcode" class="form-control"
                            [ngClass]="{ 'is-invalid': zipcode.touched && zipcode.invalid }" #zipcode="ngModel"
                            [(ngModel)]="model.zipcode" required />
                        <span class="invalid-feedback">Zip Code can't be blank.</span>
                    </div>



                    <div class='form-group'>
                        <label for="nameOnCard" class='control-label'>Name on Card</label>
                        <input id="nameOnCard" name="nameOnCard" class='form-control' size='4' type='text'
                            [ngClass]="{ 'is-invalid': nameOnCard.touched && nameOnCard.invalid }" #nameOnCard="ngModel"
                            [(ngModel)]="model.nameOnCard" required />
                        <span class="invalid-feedback">Name On Card can't be blank.</span>
                    </div>
                    <div class='form-group'>
                        <label for="cardNumber" class='control-label'>Card Number</label>
                        <input id="cardNumber" name="cardNumber" class='form-control card-number' size='20' type='text'
                            [ngClass]="{ 'is-invalid': cardNumber.touched && cardNumber.invalid }" #cardNumber="ngModel"
                            [(ngModel)]="model.cardNumber" required />
                        <span class="invalid-feedback">Card Number can't be blank.</span>
                    </div>


                    <div class='form-row'>
                        <div class='col-xs-4 form-group cvc required'>
                            <label for="cvc" class='control-label'>CVC</label>
                            <input id="cvc" name="cvc" class='form-control card-cvc' placeholder='ex. 311' size='4'
                                type='text' [ngClass]="{ 'is-invalid': cvc.touched && cvc.invalid }" #cvc="ngModel"
                                [(ngModel)]="model.cvc" required />
                            <span class="invalid-feedback">CVC can't be blank.</span>
                        </div>
                        <div class='col-xs-4 form-group expiration required'>
                            <label for="expMonth" class='control-label'>Expiration</label>
                            <input id="expMonth" name="expMonth" class='form-control card-expiry-month' placeholder='MM' size='2' type='text'
                                [ngClass]="{ 'is-invalid': expMonth.touched && expMonth.invalid }" #expMonth="ngModel"
                                [(ngModel)]="model.expMonth" required />
                            <span class="invalid-feedback">Expiry Month can't be blank.</span>
                        </div>
                        <div class='col-xs-4 form-group expiration required'>
                            <label for="expYear" class='control-label'> </label>
                            <input id="expYear" name="expYear" class='form-control card-expiry-year' placeholder='YYYY' size='4' type='text'
                                [ngClass]="{ 'is-invalid': expYear.touched && expYear.invalid }" #expYear="ngModel"
                                [(ngModel)]="model.expYear" required />
                            <span class="invalid-feedback">Expiry Year can't be blank.</span>
                        </div>
                    </div>



                    <button class="btn btn-primary btn-block" [disabled]="checkoutForm.invalid">Purchase</button>
                </form>
                <p class="text-center" style="margin-top: 10px;">
                    <a [routerLink]="['/shop']">Back</a>
                </p>
            </div>
        </div>
    </div>
</div>